@using System.Web.UI.WebControls
@model EduShop_Unsecure.Models.UserModel
@{
    ViewBag.Title = "Register";
}
<link href="~/Content/Forms.css" rel="stylesheet" />

<article class="contentcontainer">
    <section style="">
        <div class="col-md-6">
            <h1 style="font-family: verdana; color:gray;">Create an account.</h1>
            <h3 style="font-family: verdana; color:gray; text-align:justify;">This is where you register a new account to become a member at EduShop</h3>
            <br />
            @using (Html.BeginForm())
            {
                @Html.LabelFor(m => m.Email, "Email:")
                @Html.TextBoxFor(m => Model.Email, new { @class = "form-control" })
                <br />
                @Html.LabelFor(m => Model.Password, "Password:")
                @Html.TextBoxFor(m => Model.Password, new { @class = "form-control" })
                <br />
                @Html.LabelFor(m => Model.Password, "Firstname:")
                @Html.TextBoxFor(m => Model.Password, new { @class = "form-control" })
                <br />
                @Html.LabelFor(m => Model.Password, "Lastname:")
                @Html.TextBoxFor(m => Model.Password, new { @class = "form-control" })
                <br />
                @Html.LabelFor(m => Model.Password, "Address:")
                @Html.TextBoxFor(m => Model.Password, new { @class = "form-control" })
                <br />
                @Html.LabelFor(m => Model.Password, "ZIP:")
                @Html.TextBoxFor(m => Model.Password, new { @class = "form-control" })
                <br />
                <input type="submit" class="btn btn-success" value="Register" />
            }
        </div>
        <div class="col-md-6">
            <section class="row">

                <div class="circle">
                    <div class="circletext">
                        <p>Please make sure that all information is correct before you register</p>
                    </div>
                </div>

                <div class="circle">
                    <div class="circletext">
                        <p>We will never ask you for your password. Do not share it with anyone!</p>
                    </div>
                </div>


                <div class="circle">
                    <div class="circletext">
                        <p>If you like our service, please tell your family & friends about us!</p>
                    </div>
                </div>

            </section>
        </div>
        <div style="clear:both;"></div>
    </section>
</article>


